/* :host ::ng-deep .dynamic-img {
  width: 100%; 
  max-height: 250px;  
  object-fit: contain;
  display: block;
} */
.image-container {
  position: relative;
  text-align: center;
}

.dynamic-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
