<!-- Error message with an icon -->
<div class="errors" *ngIf="showValidationMessage">
    <div class="error">
      {{ validationMessage }}
      <i class="fa-solid fa-circle-exclamation fa-rotate-180 fa-4xs " style="color: #ff0808;    margin-left:0.2rem; "></i>
    </div>
  </div>

  <!-- <div class="errors" *ngIf="showValidationMessage && SuccessGreen==true">
    <div class="error">
      {{ validationMessage }}
      <i class="fa-solid fa-circle-exclamation fa-rotate-180 fa-4xs " style="color: #0bea3b;    margin-left:0.2rem; "></i>
    </div>
  </div> -->

            