<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-center  ">
            <h3>Admin Forgot Password</h3>
          </div>
          <div class="card-body">
            <!-- Email Form -->
            <form [formGroup]="forgotPasswordSendEmailForm" (ngSubmit)="sendEmailValidate()" *ngIf="!isPasswordReset">
              <div class="form-group mb-3">
                <label for="email">Enter your email</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" />
                <div
                  *ngIf="forgotPasswordSendEmailForm.get('email')?.invalid && forgotPasswordSendEmailForm.get('email')?.touched"
                  class="text-danger mt-1">
                  <p *ngIf="forgotPasswordSendEmailForm.get('email')?.hasError('required')">Email is required.</p>
                  <p *ngIf="forgotPasswordSendEmailForm.get('email')?.hasError('email')">Invalid email format.</p>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" [disabled]="forgotPasswordSendEmailForm.invalid" class="btn btn-primary">
                  Send Reset Link
                </button>
              </div>
            </form>
  
            <!-- Reset Password Form -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPasswordValidate()" *ngIf="isPasswordReset">
              <!-- New Password -->
              <div class="form-group mb-3">
                <label for="newPassword">New Password</label>
                <div class="input-group">
                  <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
                    placeholder="Enter new password" />
                  <button type="button" class="btn btn-primary" appTogglePassword>
                    <i class="fa-solid fa-eye-slash"></i>
                  </button>
                </div>
                <div
                  *ngIf="forgotPasswordForm.get('newPassword')?.invalid && forgotPasswordForm.get('newPassword')?.touched"
                  class="text-danger mt-1">
                  <app-validation-message [validationMessage]="'New password is required.'"
                    [showValidationMessage]="forgotPasswordForm.get('newPassword')?.errors?.['required']">
                  </app-validation-message>
                  <app-validation-message [validationMessage]="'Password must contain at least one letter, one number, and one special character.'"
                    [showValidationMessage]="forgotPasswordForm.get('newPassword')?.errors?.['pattern']">
                  </app-validation-message>
                </div>
              </div>
  
              <!-- Confirm Password -->
              <div class="form-group mb-3">
                <label for="reNewPassword">Confirm New Password</label>
                <div class="input-group">
                  <input type="password" id="reNewPassword" formControlName="reNewPassword" class="form-control"
                    placeholder="Confirm new password" />
                  <button type="button" class="btn btn-primary" appTogglePassword>
                    <i class="fa-solid fa-eye-slash"></i>
                  </button>
                </div>
                <div
                  *ngIf="forgotPasswordForm.get('reNewPassword')?.invalid && forgotPasswordForm.get('reNewPassword')?.touched"
                  class="text-danger mt-1">
                  <app-validation-message [validationMessage]="'Confirm password is required.'"
                    [showValidationMessage]="forgotPasswordForm.get('reNewPassword')?.errors?.['required']">
                  </app-validation-message>
                  <app-validation-message [validationMessage]="'New password and confirm password do not match.'"
                    [showValidationMessage]="forgotPasswordForm.get('reNewPassword')?.errors?.['mismatch']">
                  </app-validation-message>
                </div>
              </div>
     
              <!-- Buttons -->
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">Reset Password</button>
                <button type="button" class="btn btn-secondary" routerLink="admin/login">Go Back to Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-admin-loader *ngIf="isLoading" [isLoading]="isLoading"></app-admin-loader>
  