<div class="page-breadcrumb">
  <ul>
      <li>
          <a routerLink="../change-password" routerLinkActive="active">Change Password</a>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.32742 5.32757C7.65286 5.00214 8.1805 5.00214 8.50593 5.32757L13.0893 9.91091C13.4147 10.2363 13.4147 10.764 13.0893 11.0894L8.50593 15.6728C8.1805 15.9982 7.65286 15.9982 7.32742 15.6728C7.00198 15.3473 7.00198 14.8197 7.32742 14.4942L11.3215 10.5002L7.32742 6.50609C7.00198 6.18065 7.00198 5.65301 7.32742 5.32757Z" fill="#A6ACC4"></path>
              </svg>
      </li>
      
  </ul>
</div>

<div class="card p-4 mt-8">
    <h3 class="mb-4">Change Password</h3>
  
    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
      <!-- Current Password -->
      <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password</label>
        <div class="input-group">
          <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" id="currentPassword" formControlName="oldPassword" required>
          <button type="button" class="btn btn-primary" (click)="toggleShowCurrentPassword()">
            <i [class]="showCurrentPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>
        <div *ngIf="passwordChangeForm.get('oldPassword')?.invalid && passwordChangeForm.get('oldPassword')?.touched" class="text-danger">
          
          <app-validation-message [validationMessage]="'Current password is required.
          '" [showValidationMessage]="passwordChangeForm.get('oldPassword')?.errors?.['required']">
         </app-validation-message>
         </div>
 </div>
  
      <!-- New Password -->
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <div class="input-group">
          <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" id="newPassword" formControlName="newPassword" required>
          <button type="button" class="btn btn-primary" (click)="toggleShowNewPassword()">
            <i [class]="showNewPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>
     
        <div *ngIf="passwordChangeForm.get('newPassword')?.invalid && passwordChangeForm.get('newPassword')?.touched" class="text-danger">
          
          <app-validation-message [validationMessage]="'New password is required.
          '" [showValidationMessage]="passwordChangeForm.get('newPassword')?.errors?.['required']">
         </app-validation-message>
            <app-validation-message [validationMessage]="'Password must contain at least one letter, one number, and one special character.
           '" [showValidationMessage]="passwordChangeForm.get('newPassword')?.errors?.['pattern']">
          </app-validation-message>
        </div>

      </div>
  
      <!-- Confirm New Password -->
      <div class="mb-3">
        <label for="reNewPassword" class="form-label">Confirm New Password</label>
        <div class="input-group">
          <input [type]="showReNewPassword ? 'text' : 'password'" class="form-control" id="reNewPassword" formControlName="reNewPassword" required>
          <button type="button" class="btn btn-primary"  (click)="toggleShowReNewPassword()">
            <i [class]="showReNewPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>

        <div *ngIf="passwordChangeForm.get('reNewPassword')?.invalid && passwordChangeForm.get('reNewPassword')?.touched" class="text-danger">
          
          <app-validation-message [validationMessage]="'Confirm password is required.
          '" [showValidationMessage]="passwordChangeForm.get('reNewPassword')?.errors?.['required']">
         </app-validation-message>
            <app-validation-message [validationMessage]="'New password and confirm password do not match.
           '" [showValidationMessage]="passwordChangeForm.get('reNewPassword')?.errors?.['mismatch']">
          </app-validation-message>
        </div>

        <!-- <div *ngIf="passwordChangeForm.get('reNewPassword')?.invalid && passwordChangeForm.get('reNewPassword')?.touched" class="text-danger">
          Confirm password is required.
        </div>
        <div *ngIf="passwordChangeForm.get('reNewPassword')?.errors?.['mismatch'] && passwordChangeForm.get('reNewPassword')?.touched" class="text-danger">
          
        </div> -->
      </div> 
      <tr class="">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">Change Password</button>
        <a class="" routerLink="../reset-password" routerLinkActive="active">Reset Password?</a>
  
      </tr>
      
    </form>

  </div>
