<div class="page-breadcrumb">
  <ul>
      <li>
          <a routerLink="../change-password" aria-label="Change Password">Change Password</a>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.32742 5.32757C7.65286 5.00214 8.1805 5.00214 8.50593 5.32757L13.0893 9.91091C13.4147 10.2363 13.4147 10.764 13.0893 11.0894L8.50593 15.6728C8.1805 15.9982 7.65286 15.9982 7.32742 15.6728C7.00198 15.3473 7.00198 14.8197 7.32742 14.4942L11.3215 10.5002L7.32742 6.50609C7.00198 6.18065 7.00198 5.65301 7.32742 5.32757Z" fill="#A6ACC4"></path>
          </svg>
      </li>
      <li>
          <a routerLink="../reset-password" routerLinkActive="active" aria-label="Reset Password">Reset Password</a>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.32742 5.32757C7.65286 5.00214 8.1805 5.00214 8.50593 5.32757L13.0893 9.91091C13.4147 10.2363 13.4147 10.764 13.0893 11.0894L8.50593 15.6728C8.1805 15.9982 7.65286 15.9982 7.32742 15.6728C7.00198 15.3473 7.00198 14.8197 7.32742 14.4942L11.3215 10.5002L7.32742 6.50609C7.00198 6.18065 7.00198 5.65301 7.32742 5.32757Z" fill="#A6ACC4"></path>
          </svg>
      </li>
  </ul>
</div>



<!-- <app-otp-validation [otpLength]="6" (otpChange)="onOtpChange($event)"></app-otp-validation> -->
<div class="card otp-container p-4 mb-4">

<h3 class="mb-4">Details</h3>
<div  class="details-box" *ngIf="!isLoading && user">
    <p><b>Your Email:</b> <b>{{user.email}}</b></p>
    <p><b>Mobile No:</b> <b>{{user.mobileNo}}</b>  </p>
    <button *ngIf="showOtpSection==false"
    type="submit"
    class="btn btn-submit"
    aria-label="Send OTP"
    (click)="sendOtp()"
    [disabled]=" ">
    Send OTP
  </button>
  <div class="otp-inputs" *ngIf="showOtpSection">
    <app-otp-validation
    [otpLength]="6"
    [validationType]="'resetPassword'"
    (formSubmit)="onOtpFormSubmit($event)"
    (resendOtp)="resendOtp($event)"
    ></app-otp-validation>
    
  </div>

</div>
<br>


<app-admin-loader [isLoading]="isLoading"></app-admin-loader>



</div>



<!-- <div class="otp-container">
<h3>Enter OTP</h3>
 -->
<!-- Six individual OTP input fields -->
<!-- <form [formGroup]="otpValidationForm" (ngSubmit)="verifyOtp()">
  <div class="otp-inputs">
    <input type="text" formControlName="otp0" #otpInput0 (input)="onOtpInputChange(otpInput0, otpInput1)" />
    <input type="text" formControlName="otp1" #otpInput1 (input)="onOtpInputChange(otpInput1, otpInput2)" />
    <input type="text" formControlName="otp2" #otpInput2 (input)="onOtpInputChange(otpInput2, otpInput3)" />
    <input type="text" formControlName="otp3" #otpInput3 (input)="onOtpInputChange(otpInput3, otpInput4)" />
    <input type="text" formControlName="otp4" #otpInput4 (input)="onOtpInputChange(otpInput4, otpInput5)" />
    <input type="text" formControlName="otp5" #otpInput5 (input)="onOtpInputChange(otpInput5, null)" />
  </div>
  <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password" />
      <div *ngIf="otpValidationForm.controls.newPassword.invalid && otpValidationForm.controls.newPassword.touched" class="error">
        Password must be at least 6 characters, containing letters and numbers.
      </div>
    </div>
  <button type="submit" class="btn-submit" >Verify OTP</button>
</form> -->


<!-- </div> -->

