<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <div class="btn btn-primary" id="log_out" (click)="logout()">Logout</div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
  <div  class="second hero">
    <img class="hero-profile-img" [src]="'https://img.freepik.com/premium-vector/code-team-logo_647963-22.jpg'" alt="Event Image" />
    <div class="hero-description-bk"></div>
    <div class="hero-logo">
      <img [src]="" alt="Event Logo" />
    </div>
    <div class="hero-description">
      <h5>Nikhil</h5>
      <p>hhhh</p>
    </div>
    <strong>Participants:</strong>
    <div>
        <li >
nikhil.sss       </li>
    </div>
  <div class="hero-date">
      <p>3 November 2023</p>
    </div>
    <div class="hero-btn">
      <a [routerLink]="">Learn More</a>
    </div>
  </div>
